header{
    background:url("image.jpg");
    height:370vh;
    background-repeat:no-repeat;
    background-size:cover;
}
*{
    margin:0;
    padding:0;
}
.nav-area{
    float:right;
    list-style:none;
    margin-top:30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color:white;
    text-decoration:none;
    padding:10px;
    font-family:poppins;
    font-size:20px;
}
.first{
    font-size:30px;
    margin-top:70px;
    padding-top:70px;
}
.second{
    font-size:30px;
    padding-top:350px;
}
